.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.userIcon {
  width: 36px;
  height: 36px;
}