.header-logo {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  gap: 10px;
  padding: 10px 0;
  color: white;
}
.header-logo img {
  width: 50px;
  height: 50px;
}
.logo-img {
  display: block;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: bold;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header-nav,
.header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.header-nav__list li {
  padding: 8px 16px;
  background-color: rgba(var(--dcold-blue_rgb), 0);
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}
.header-nav__list li:hover {
  background-color: rgba(var(--dcold-blue_rgb), 1);
  transition: 0.4s ease-in-out;
}
.subscription {
  color: #fff;
  background-color: var(--end-gradient-color);
  padding: 6px 15px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
  box-shadow: 0 0 104px var(--shadow-color);
  transition: 0.4s ease-in-out;
}
.subscription:hover{
  background-color: var(--dcold-blue);
  transition: 0.4s ease-in-out;
}
.search {
  padding: 6px 10px;
  color: #111111;
  font-weight: bold;
  border-radius: 6px;
  min-width: 240px;
  background: var(--default-subBlack);
  outline: none;
  border: none;
  transition: 0.15s ease-in-out;
}
.search::placeholder {
  font-weight: normal;
}
.search:focus {
  background-color: #fff;
  color: #000;

  transition: 0.15s ease-in-out;
}
.App-link {
  color: #61dafb;
}
.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.userIcon svg path{
  stroke: #ffffff80;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.2s ease-in-out;
}
.userIcon:hover svg path {
  cursor: pointer;
  stroke: #fff;
  transition: stroke 0.2s ease-in-out;
}
.main-slider {
  min-height: 350px;
}
.subscribe-box {
  width: 104px;
  height: 104px;
  border-radius: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(linear,left top,left bottom,from(var(--start-gradient-color)),to(var(--end-gradient-color)));
  background: -webkit-linear-gradient(top,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
  background: -o-linear-gradient(top,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
  background: linear-gradient(180deg,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
  box-shadow: 0 0 104px var(--shadow-color);
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.footer__list h2 {
  font-weight: bold;
  font-size: 24px;
  color: var(--dmain-purple);
}
.footer__list ul li{
  cursor: pointer;
  font-weight: normal;
  color: var(--default-subWhite);
  transition: color 0.15s linear;
}
.footer__list ul li:hover{
  color: var(--dcold-blue);
  transition: color 0.15s linear;
}
.footer__copy-right {
  padding: 50px 0 20px 0;
  text-align: center;
}

