:root {
  /*
   Основной Цвет фиолетовый: #A869F0
   #8C68B4 #5B229C #C08FF8 #CFABF8

  Вторичный Цвет A - теплые цвета: #FF6367  - на отмену действия
  #BF676A #A52024 #FF8A8D #FFA9AB

  Вторичный Цвет B - холодные цвета: #62CBEE - на наведение
  #649FB2 #207C9A #8ADBF6 #A7E2F6

  Дополнительный Цвет - жельтый: #FFF463 - цвет антогонист
  #BFB968 #A69C20 #FFF68A #FFF9A9
  */
  --default-black: #100e19;
  --default-subBlack: #282c34;
  --default-grey: #100E197F;
  --default-white: #f1f1f1;
  --default-subWhite: #F1F1F198;
  --start-gradient-color: #A869F0;
  --end-gradient-color: #834CC2;
  --shadow-color: #A869F0;
  --dmain-purple: #A869F0;
  --dmain-purpleDark: #5B229C;
  --dcold-blue: #62CBEE;
  --dcold-blue_rgb: 98, 203, 238;
  --dcold-blueDark: #207C9A;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 1.5;
  font-size: 16px;
  color: var(--default-white);
}

ul, li {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--default-black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 0 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  color: #111;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  border-radius: 4px;
}
